/* home*/

.back {

  background-color: #1a9494;

  /* Change this color to whatever you prefer */
}

.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  /* Optional: Change link color */
}

.vv-logo {
  width: 70px;
  height:70px;
}

.vv-logo2 {
  width:80px;
  height:80px;
}


.banner-bg {
  background: linear-gradient(-45deg, #c2bff0, #fcd266, #b0ebe0, #f1d195);
  background-size:400% 400%;
  animation: gradient 10s ease infinite;
  min-height:120vh;

  
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.banner-heading {

  padding-right: 20px;
  font-family: "times roman";
  color: #fff;
  font-size: 4rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgb(56, 222, 231) 0%, rgb(31, 29, 97) 41%, rgb(56, 222, 231) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;

}

.banner-heading2 {
  
  color: #fff;
  font-size: 5.5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgb(56, 222, 231) 0%, rgb(31, 29, 97) 41%, rgb(56, 222, 231) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-family: "times roman";
 
 


}
.banner-heading2-span{
  font-family: 'Times New Roman', Times, serif;
}

.glow {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 40px;
  margin-right: 60px;
  color: #de791b;
  text-align: center;

}



.glow2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #de791b;


}



.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: linear-gradient(0deg, #1a9494 0%, rgb(115, 97, 251) 100%);
}
.custom-btn2 {

  width: 150px;
  height:40px;
  font-size:15px;
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  background: linear-gradient(0deg, #1a9494 0%, rgb(115, 97, 251) 100%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #1a9494;
  background: linear-gradient(0deg, #1a9494 0%, rgb(115, 97, 251) 100%);
}

.btn-5:hover {
  color: #212032;
  background: transparent;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #212032;
  box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}




.image-container {
  
  overflow: hidden;
  position: relative;
  text-align:center;

}

.image-container img {
  width: 95%;
  height: 90%;
  transform: scale(1);
  /* Start at normal size */
  animation: zoomIn 2s ease forwards;
  /* Zoom-in animation */
  
}

@keyframes zoomIn {
  0% {
      transform: scale(0);
      /* Start at normal size */
  }

  100% {
      transform: scale(1);
      /* End with zoomed-in scale */
  }
}







/* /about us/ */




.html {
  scroll-behavior: smooth;
}

#aboutusSection {
  padding-top: 30px; 
  margin-top: -30px; 
}

.about-us-section-img {
  width: 100%;
  border-radius: 12px;


}


.about-us-section-heading {
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 40px;
  padding-right: 20px;


}

.about-us-section-description {
  color: #000000;
  font-family: "Roboto";
  font-size: 20px;
  padding-right: 20px;


}

.about-us-section-heading-small {
  padding-bottom: 20px;
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size:60px;
  padding-right: 20px;
  text-align: center;


}

.about-us-section-description-small {
  color: #000000;
  font-family: "Roboto";
  font-size:40px;
  padding-top: 20px;
  text-align: center;

}

/* /specifications/ */


* {
  margin: 0;
  padding: 0;
}

#specificationsSection {

  padding-top: 90px; 
  margin-top: -90px; 

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #ffff;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
  }

  .specification-heading {
      color: #fff;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: transparent;
      letter-spacing: 4px;
      background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      font-size: 40px;
  }

  .specification-heading2 {
      color: #fff;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: transparent;
      letter-spacing: 4px;
      background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      font-size:60px;
  }




  section {
      padding-block: min(20vh, 2rem);
      width: calc(min(76.5rem, 90%));
      margin-inline: auto;
      color: #111111;
      a {
          display: inline-block;
          text-decoration: none;
      }

      .container {


          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
          gap: 2rem;

          .card {
              &:nth-child(1) .box .icon .iconBox {
                  background: #d3b19a;
              }

              &:nth-child(2) .box .icon .iconBox {
                  background: #70b3b1;
              }

              &:nth-child(3) .box .icon .iconBox {
                  background: #d05fa2;
              }

              border: none;
              /* No border around cards */
              box-shadow: none;
              /* No shadow */
              background-color: #ffffff;

              .btn {
                  display: inline-flex;
                  align-items: center;
                  background-color: #007bff;
                  /* Button background color */
                  color: white;
                  /* Text color */
                  border: none;
                  /* No border */
                  border-radius: 5px;
                  /* Rounded corners */
                  padding: 10px;
                  /* Padding */
                  text-decoration: none;
                  /* Removes underline from link */
                  transition: background-color 0.3s;
                  /* Transition effect */
              }

              .btn:hover {
                  background-color: #0056b3;
                  /* Darker shade on hover */
              }

              .iconBox {
                  padding: 10px;
                  /* Add some padding around the icon button */
              }


          }

          .content {
              padding: 0.938rem 0.625rem;

              h3 {
                  text-transform: capitalize;
                  font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
              }

              p {
                  margin: 0.625rem 0 1.25rem;
                  color: #565656;
              }
          }
      }

      .card-inner {
          position: relative;
          width: inherit;
          height: 18.75rem;
          background: var(--clr);
          border-radius: 1.25rem;
          border-bottom-right-radius: 0;
          overflow: hidden;

          .box {
              width: 100%;
              height: 100%;
              background: none;
              border-radius: 1.25rem;
              overflow: hidden;

              .imgBox {
                  position: absolute;
                  inset: 0;
                  border: none;

                  img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                  }
              }


              .icon {
                  position: absolute;
                  bottom: -0.375rem;
                  right: -0.375rem;
                  width: 6rem;
                  height: 6rem;
                  background: var(--clr);
                  border-top-left-radius: 50%;

                  &:hover .iconBox {
                      transform: scale(1.1);
                  }

                  &::before {
                      position: absolute;
                      content: "";
                      bottom: 0.375rem;
                      left: -1.25rem;
                      background: transparent;
                      width: 1.25rem;
                      height: 1.25rem;
                      border-bottom-right-radius: 1.25rem;
                      box-shadow: none;
                  }

                  &::after {
                      position: absolute;
                      content: "";
                      top: -1.25rem;
                      right: 0.375rem;
                      background: transparent;
                      width: 1.25rem;
                      height: 1.25rem;
                      border-bottom-right-radius: 1.25rem;
                  }

                  .iconBox {
                      position: absolute;
                      inset: 0.625rem;
                      background: #ffffff;
                      border-radius: 50%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      transition: 0.3s;

                      span {
                          color: #ffffff;
                          font-size: 1.5rem;
                      }
                  }
              }
          }
      }
  }
}






/* /why choose us/ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#whychooseusSection {

  padding-top: 90px; 
  margin-top: -90px; 

  .container-fluid {

      background-color: #191a2b;
      background-size: cover;
      }

  .service-wrapper {
      padding: 5% 8%;
  }

  .service {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .why-choose-us-head {
      font-size: 40px;
  }
  .why-choose-us-head2 {
    font-size: 60px;
    text-align:center;
}

  h1 {
      color: #fff;

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: transparent;
      letter-spacing: 4px;
      background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgba(0, 230, 173, 1) 41%, rgba(41, 17, 45, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
  }

  h1:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 10%;
      height: 8px;
      width: 80%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.05);
  }

  h1 span {
      position: absolute;
      top: 100%;
      left: 10%;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: #72e2ae;
      animation: anim 5s linear infinite;
  }

  @keyframes anim {
      95% {
          opacity: 1;
      }

      100% {
          opacity: 0;
          left: 88%;
      }
  }

  .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 80px;
  }

  .card {
      height: 300px;
      width: 300px;
      background-color: #1c2335;
      /* Set background to a dark color */
      border: none;
      padding: 3% 8%;
      border-radius: 8px;
      transition: 0.6s;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      overflow: hidden;
  }
  .card2 {
    /* height: 400px; */
    width: 100%;
    background-color: #1c2335;
    /* Set background to a dark color */
    border: none;
    padding: 3% 8%;
    padding-bottom:30px;
    border-radius: 8px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}



  .card h2 {
      color: #fff;
      /* Ensure text remains readable on dark background */
      font-size: 20px;
      font-weight: 600;
  }
  .card2 h2 {
    color: #fff;
    /* Ensure text remains readable on dark background */
    font-size: 40px;
    font-weight: 600;
}

  .card p {
      text-align: center;
      width: 100%;
      margin: 12px 0;
      color: rgba(225, 225, 225, 0.8);
      /* Lighten text for readability */
  }
  .card2 p {
    font-size:25px;
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(225, 225, 225, 0.8);
    /* Lighten text for readability */
}
  .card:after {
      content: "";
      position: absolute;
      top: 150%;
      left: -200px;
      width: 120%;
      transform: rotate(50deg);
      background-color: #fff;
      height: 18px;
      filter: blur(30px);
      opacity: 0.5;
      transition: 1s;
  }
  .card2:after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

  .card:hover:after {
      width: 225%;
      top: -100%;
  }
  .card2:hover:after {
    width: 225%;
    top: -100%;
}
  .card i {
      color: #72e2ae;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 2.5rem;
  }

  .card2 i {
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
  .card:hover {
      background-color: transparent;
      transform: translateY(-8px);
      border-color: #eaca14;
  }
  .card2:hover {
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #eaca14;
}

  .card:hover i {
      color: #eaca14;
  }
  .card2:hover i {
    color: #eaca14;
}

  @media screen and (max-width: 1200px) {
      .cards {
          grid-template-columns: repeat(2, 1fr);
      }
  }

  @media screen and (max-width: 900px) {
      .cards {
          grid-template-columns: repeat(1, 1fr);
      }

      h1 {
          font-size: 3.5rem;
      }
  }
}

/* /gallery-small/ */
.gallery-section-small {

  padding-bottom: 0;
  /* Adjust this value if needed */
  margin-bottom: 0;
  /* Add or decrease this if necessary */
}

.photobanner-small {
  border-radius: 8px;
  position: relative;
  height: 450px;
  width: 550px;
  margin-bottom: 30px;
  display: flex;
}

.wrapper-small {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.photobanner-small img {

  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner-small {
  animation: bannermoves 10s linear infinite reverse;
}

@keyframes bannermoves {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-1200px);
      /* Adjust this based on the total width of the images */
  }
}



/* /gallery/ */

#gallerySection {
  padding-top: 80px; /* Adjust this value based on your navbar height */
  margin-top: -80px; /* Adjust to negate the padding effect */
}


.gallery-heading {
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 40px;
  padding-bottom: 20px;


}

.gallery-heading2 {
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 35px;
  padding-bottom: 20px;


}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.photobanner {
  border-radius: 10px;
  position: relative;
  height: 450px;
  width: 300px;
  margin-bottom: 30px;
  display: flex;

}

.photobanner-small{
  border-radius: 10px;
  position: relative;
  height: 250px;
  width: 300px;
  margin-bottom: 30px;
  display: flex;

}

.photobanner img {

  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner {
  animation: bannermove 15s linear infinite reverse;
}

@keyframes bannermove {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-2700px);
      /* Adjust this based on the total width of the images */
  }
}


/* /contact us/ */

#contactusSection{
  padding-top: 70px; /* Adjust this value based on your navbar height */
  margin-top: -70px;
}
.contact-us-heading {
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 40px;
}

.contact-us-heading2 {
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(65, 174, 147) 41%, rgba(41, 17, 45, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 60px;
}


.footer-section {
  background-color: #19232d;
  color: #959ead;
  background-size: cover;
}

.footer-section-img {
  height: 120px;
  width: 120px;

}
.footer-section-img2 {
  height: 180px;
  width: 180px;

}

.footer-icon1 {
  font-size: 30px;
  border-radius: 40px;
  background-color: #202b36;
  padding: 20px;
  margin: 10px;
  box-shadow: 1px 3px 2px 2px #dcdde1;
}

.contact-us-icon {
  font-size: 20px;
  color: #959ead;

}
.contact-us-icon2 {
  font-size: 40px;
  color: #959ead;

}


.hori-line {
  border-width: 2px;
  background-color: #959ead;


}

.footer-icon2 {
  padding-top: 8px;
  padding-right:10px;
}

.footer-icon22 {
  padding-top: 10px;
  padding-right: 20px;
 
}
.atag .itag {
  transition: all 0.2s linear
}

.atag:hover .itag {
  transform: scale(1.2);
}

.fa-instagram {
  color: #882067;
}

.fa-youtube {
  color: #e81818
}

.fa-whatsapp {
  color: rgb(11, 148, 11)
}

.fa-linkedin {
  color: #0e467d
}

.atag1 .itag1 {
  transition: all 0.2s linear
}

.atag1:hover .itag1 {
  transform: scale(1.1);
}

  /* *{
      background-color: #ff000020 ;
  } */

@media (max-width:768px){
  .banner-heading2{
      font-size: 2rem;
  }
  .glow2{
      font-size: 16px;
  }
  .about-us-section-heading-small,.specification-heading2,.why-choose-us-head2,.contact-us-heading2 {
      font-size: 2rem !important;
      text-align:center;
      line-height:1.5;
  }
  #whychooseusSection .card2 h2{
      font-size: 24px;
  }
  #whychooseusSection .card2 p{
      font-size: 14px;
  }
  .contact-us-icon2{
      font-size: 18px;
  }
  .footer-icon1{
      font-size: 18px;
      padding: 10px;
  }
  .footer-icon22{
      padding: 5px;
  }
  .about-us-section-description-small,.specifications-card-description{
      font-size: 16px;
      text-align: left;
  }
}